# Build directories
build/
cmake-build-*/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS files
.DS_Store
Thumbs.db

# Third party git files
third_party/**/.git
third_party/**/.gitignore
third_party/**/.github

# CodeQL
_codeql_build_dir/
_codeql_detected_source_root
